:root {
  --main-color: #027581;
  --color-dark: #1D2231;
  --text-grey: #8390A2;
}

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* SIDE BAR STYLING */

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: var(--main-color);
  color: #fff;
  overflow-y: auto;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.sidebar-menu {
  padding: 2rem;
}

.sidebar li {
  margin-bottom: 1.2rem;
}

.sidebar a {
  color: #fff;
  font-size: 1.1rem;
}

.sidebar li a:hover,
.sidebar li:hover {
  color: #8390A2;
  transition: 0.2s ease;
}

.sidebar li span:hover {
  cursor: pointer;
}

.sidebar a span:last-child {
  padding-left: .6rem;
}

.active {
  background-color: var(--main-color);
  color: #8390A2;
}



/* MAIN CONTENT  */

.main-content {
  position: relative;
  margin-left: 240px;

}

header {
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  /*comment and bell */
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;

}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right span,
.header-right div {
  margin-left: 1rem;
}

.header-right div img {
  height: 38px;
  weight: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

main {
  margin-top: 50px;
  background: #f1f5f9;
  min-height: 90vh;
  padding: 1rem 3rem;
}

.dash-title {
  color: var(--color-dark);
  margin-bottom: 1rem;
}

.dash-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.card-single {
  background: #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-body {
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
}

.card-body span {
  font-size: 1.5rem;
  color: #777;
  padding-right: 1.4rem;
}

.card-body h5 {
  color: var(--text-grey);
  font-size: 1rem;
}

.card-body h4 {
  color: var(--color-dark);
  font-size: 1.1rem;
  margin-top: .2rem;
}

.card-footer {
  padding: .2rem 1rem;
  background: #f9fafc;
}

.card-footer a {
  color: var(--main-color);
}

/* section body */
.recent {
  margin-top: 3rem;
}

.activity-card {
  /*summary card*/
  background: #fff;
  border-radius: 7px;
}

.activity-card h3 {
  color: var(--text-grey);
  margin: 1rem;
}

.activity-card table {
  width: 100%;
  border-collapse: collapse;
}

.activity-card thead {
  background: #efefef;
  text-align: left;
}

th, td {
  font-size: .9rem;
  padding: 1rem 1rem;
  color: var(--color-dark);
}

td {
  font-size: .8rem;
}

tbody tr:nth-child(even) {
  background: #f9fafc;
}

.badge {
  padding: .2rem 1rem;
  border-radius: 20px;
  font-weight: 700;
  font-size: .7rem;
}

.badge.success {
  background: #DEF7EC;
  color: var(--main-color);
}

.badge.warning {
  background: #F0F6B2;
  color: orange;
}

/* button styling */
.text-center {
  text-align: center;
}

/* STYLING FOR MEDIA RESPONSIVENESS */
.table-responsive {
  overflow-x: auto;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 200px;
    z-index: 150;
  }

  .main-content {
    margin-left: 200px;
  }

  .main-content header {
    left: 200px;
    width: calc(100% - 200px);
  }
}

@media only screen and (max-width: 860px) {
  .dash-cards {
    grid-template-columns: 100%;
  }

  .card-single {
    margin-bottom: 1rem;
  }
}
